body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

#about-us {
    padding: 50px 0;
}

#about-us h1 {
    text-align: center;
    color: #333;
}

#about-us p {
    margin: 20px 0;
    text-align: justify;
}

.team {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.team-member {
    text-align: center;
    width: 30%;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.team-member h2 {
    margin: 10px 0 5px;
}

.team-member h3{
    margin: 10px 0 5px;
    color: #777;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
